-i https://pypi.org/simple/
appdirs==1.4.4
astroid==2.5.7
attrs==21.2.0
black==18.6b4
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
googleapis-common-protos==1.6.0b3
grpcio-tools==1.13.0
grpcio==1.13.0
idna==2.10
importlib-metadata==4.4.0 ; python_version < '3.8'
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pkginfo==1.7.0
protobuf==3.6.0
pylint==2.0.0.dev2
requests-toolbelt==0.9.1
requests==2.25.1
six==1.16.0
toml==0.10.2
tqdm==4.61.0
twine==1.11.0
typed-ast==1.4.3 ; implementation_name == 'cpython' and python_version < '3.8'
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
wrapt==1.12.1
zipp==3.4.1
