-i https://pypi.org/simple/
appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
black==18.6b4
certifi==2019.6.16
chardet==3.0.4
click==7.0
googleapis-common-protos==1.6.0b3
grpcio-tools==1.13.0
grpcio==1.13.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
pkginfo==1.5.0.1
protobuf==3.6.0
pylint==2.0.0.dev2
requests-toolbelt==0.9.1
requests==2.22.0
six==1.12.0
toml==0.10.0
tqdm==4.35.0
twine==1.11.0
typed-ast==1.4.0 ; implementation_name == 'cpython'
urllib3==1.24.2
wrapt==1.11.2
